@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    background-color:rgb(31,45,55);
    font-family: Roboto, sans-serif;
    height: 100vh;
    display:flex;
    flex-direction:column;

}

.header{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    font-size:24px;
    color:#F9FAF8;
}
.ptitle{
    display:flex;
}
.toplinks {

    margin: 0px;
    padding:0px;
    
  }
a{
    text-decoration:none;
    color:#F9FAF8;
}

ul {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    list-style-type:none;
    margin:0;
    padding:0;
    gap:16px;

}

.content {
    display:flex;
    flex: 1;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}